<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
xmlns:th="http:/ /www.thymeleaf.org">
<head>
<title>Taco Cloud</title>
</head>
<body>
<h1>Welcome to...</h1>
<img th:src="@{/images/TacoCloud.png}"/>
<h2> A David Gomez project </h2>
<p>
	Spring Boot makes it easy to create stand-alone, production-grade
	Spring based Applications that you can "just run".
</p>
<p>
	We are using Maven to build this project. Maven is a project management
	and comprehension tool. Based on the concept of a project object model
	(POM), Maven can manage a project's build, reporting and documentation
	from a central piece of information.
</p>
</body>

</html>